mixin information_tabs( items ) 

    ul.information-tabs#information_tabs

        each item in items
        
            li(data-for= item.for, class= item.classes)= item.name


mixin social_networks()
    -
        social_networks = [
            'vk',
            'ok',
            'whatsapp',
            'telegram'
        ];
    .social_networks.social_networks-colored
        ul.social_networks-list

            each item in social_networks

                li
                    a(href="#") 
                        +icon( item )


mixin post(img, title, date, classes, description, icon)
    - classes = 'post ' + classes || 'post';

    div(class= classes)
        .post-thumbnail
            a(href="#") 
                +bg( img )

            if icon && classes != 'post post-big post-big--video-media'
                .post-icon
                    +icon( icon ) 

        .post-content
            .post-title
                a(href="#") 
                    h3= title

            if description && description != ''
                .post-description
                    p= description

            .post-date
                if icon && classes == 'post post-big post-big--video-media'
                    .post-icon
                        +icon( icon ) 
                time= date

mixin icon(name, mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprite.svg#" + name)

mixin bg(src)
    .bg
        picture
            img(src= src, alt="")

mixin menu( nav, show_span ) 
    - show_span = show_span || false;
    nav
        ul 
            each item in nav
                li 
                    if item.has_child
                        a(href="#", data-child-menu= item.has_child)
                            div
                                span= item.title
                                +icon('angle-bottom')

                    else
                        if show_span
                            a(href="#")
                                span= item.title
                        else
                            a(href="#")= item.title

                    if item.child
                        
                        ul 

                            each val in item.child

                                li 
                                    a(href="#")= val.title

                                    if val.child
                                        
                                        ul

                                            each v in val.child
                                            
                                                li
                                                    a(href="#")= v.title 

mixin faq( questions ) 
    .faq

        each item in questions

            .faq-item(class= item.class)
                .faq-question
                    p= item.question

                .faq-answer
                    p= item.answer

mixin breadcrumps( nav )

    ol.breadcrumps(itemscope, itemtype="http://schema.org/BreadcrumbList")

        each item in nav

            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
                
                if item.href
                
                    a(itemprop="item" href= item.href) 
                        span(itemprop="name")= item.name
                        meta(itemprop="position" content="1")
                else

                    span(itemprop="name")= item.name

mixin select( name, items )
    .select
        input(type="hidden" name= name)
        ul
            each item in items 
                li(data-value= item.slug)= item.name

mixin checkbox( name, labelClasses )
    - labelClasses = labelClasses || '';
    .checkbox
        input(type="checkbox" name= name, id= name, value= name)
        label(for= name, class=labelClasses)= name
        

mixin radio( name, slug, namespace, checked )
    - checked = checked || false;
    .radio
        if ! checked
            input(type="radio" name= namespace, id= slug, value= slug)
        else
            input(type="radio" name= namespace, id= slug, value= slug, checked="checked")

        label(for= slug)= name

mixin pagination() 
    .pagination
        ul 
            li
                span 1

            li
                a(href="#") 
                    span 2
            li
                a(href="#") 
                    span 3

            li.dots

            li
                a(href="#") 
                    span 5